@font-face {
  font-family: "PT Sans";
  src: url(../fonts/pt-sans.woff2) format('woff2'),
       url(../fonts/pt-sans.woff) format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans-Bold";
  src:url(../fonts/pt-sans-bold.woff2) format('woff2'),
      url(../fonts/pt-sans-bold.woff) format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --basik-blue: #81B3D2;
  --basik-middle-blue: #669EC0;
  --basik-light-blue: #81B3D2;
  --basik-extra-blue: #5496BD;
  --basik-brown: #766357;
  --basik-middle-brown: #604E43;
  --basik-extra-brown: #503E33;
  --basik-black: #000000;
  --basik-light-black: #333333;
  --basik-white: #ffffff;
  --basik-white-active: rgba(255, 255, 255, 0.3);
  --basik-light-grey: #eeeeee;
  --basik-gray: #bdbbbc;
  --basik-extra-gray: #666666;
  --basik-dull-gray: #f2f2f2;


  --special: #333333;
  --special-background: rgba(255, 255, 255, 0.9);
}

body {
  margin: 0;

  line-height: 1;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;

  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  
  padding: 0;

  border: 0;
  white-space: 0;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
 
.wrapper {
  position: relative;
  margin: 0 auto;
  max-width: 1200px;
  background-color: var(--basik-white);
}

.page-body {
  margin: 0;
  min-width: 1200px;
  min-height: 100%;

  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-black);
  
  background-color: var(--basik-light-grey);
}

.main-nav__list {
  margin: 0;

  display: grid;
  grid-template-columns: repeat(6, 200px);
  grid-template-rows: 70px;
  
  padding: 0;

  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
}

.main-nav__item {
  list-style: none;
}

.main-nav__item:nth-child(1) {
  margin: 15px 34px 15px 72px;

  grid-column-start: 1;
  grid-column-end: 2;
}

.main-nav__item:nth-child(2) {
  margin: 15px 0 15px 85px;
  
  grid-column-start: 2;
  grid-column-end: 3;
}

.main-nav__item:nth-child(3) {
  margin: 15px 0 15px 16px;
  
  grid-column-start: 5;
  grid-column-end: 6;
}

.main-nav__item:nth-child(4) {
  margin: 15px 0 15px 18px;
  
  grid-column-start: 6;
  grid-column-end: 7;
}

.main-nav__link {
  text-decoration: none;
  color: var(--basik-black);
}

.main-nav__link:hover {
  color: var(--basik-light-blue);
}

.main-nav__link:active {
  color: var(--basik-gray);
}

.main-nav__logo {
  position: absolute;
  top: 0;
  left: 532px;
  width: 138px;
  height: 72px;

  display: block;

  z-index: 1;
}

.nav-logo__link {
  position: absolute;
  top: 0;
  width: 138px;
  height: 72px;

  display: block;

  z-index: 1;
}

.intro {
  position: absolute;
  margin-top: -10px;
  height: 433px;
  max-width: 1200px;
  

  padding-top: 76px;
  padding-left: 400px;

  background-image: url(../img/main/back-desktop.svg);
  background-repeat: no-repeat;
  background-color: var(--special);

}

.intro__background-illustration { 
  padding-right: 343px;
}

.features {
  margin-top: 537px;

  background-color: var(--basik-white);
}

.features-slogan {
  margin: 0;
  max-width: 470px;
  height: 80px;
  
  padding-left: 365px;

  font-weight: bold;
  line-height: 26px;
  font-style:normal;
  font-size: 21px;
  text-align:center;
}

.features-slogan__text {
  margin: 16px 0 0 0;
  width: max-content;
  
  padding-left: 340px;
  
  font-weight: normal;
  line-height: 26px;
  font-style: normal;
  font-size: 14px;
}

.main-features__part1 {
  margin-top: 48px;

  display: grid;
  grid-template-columns: 400px 1fr;
}

.main-features__block {
  padding: 48px 44px 54px 44px;
  
  text-align: center;
  color: var(--basik-white);
  
  background-color: var(--basik-light-blue);
}

.features-list {
  margin: 0;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  
  padding: 0;
  
  list-style: none;

  background-color: var(--basik-light-grey);
}

.features-item {
  display: flex;
  flex-direction: column;
  
  padding: 160px 55px 82px 55px;

  list-style: none;
  text-align: center;
}


.features__item--house::before {
  position: absolute;
  content: "";
  top: 1097px;
  left: 200px;
  width: 75px;
  height: 72px;

  background-image: url(../img//icons/house.svg);
  
  transform: translateX(-50%);
}

.features__item--food::before {
  position: absolute;
  content: "";
  top: 1097px;
  left: 600px;
  width: 75px;
  height: 70px;

  background-image: url(../img/icons/burger.svg);
  
  transform: translateX(-50%);
}

.features__item--souvenirs::before {
  position: absolute;
  content: "";
  top: 1097px;
  left: 1000px;
  width: 64px;
  height: 77px;

  background-image: url(../img/icons/souvenirs.svg);
  
  transform: translateX(-50%);
}

.features-item__title {
  margin: 0 auto 25px auto;
  max-width: 200px;
  
  font-weight: bold;
  font-style: normal;
  font-size: 21px;
  line-height: 21px;
}

.main-features__part2 {
  display: grid;
  grid-template-columns: 1fr 400px;
}

.features-item__subtitle {
  display: block;
  margin-bottom: 23px;
}

.features-item__text {
  margin: 0;
}

.features-item__image {
  width: 800px;

  background-color: var(--basik-light-grey);
}

.features-list__gray {
  margin-bottom: 23px;
  
  display: block;
}

.features-item__gray {
  list-style: none;
  text-align: center;
  
  padding: 48px 65px 52px 65px;
  
  background-color: var(--basik-light-grey);
}

.form-search_interested {
  padding-top: 58px;
  
  font-weight: bold;
  line-height: 24px;
  font-size: 30px;
  text-align: center;
}

.form-search__title {
  margin: 0 auto 34px auto;
  width: max-content;
  
  display: flex;

  font-weight: bold;
  line-height: 24px;
  font-style: normal;
  font-size: 30px;
  align-items: center;
  text-align: center; 
}

.form-search__intro {
  margin: 0 auto 44px auto;
  max-width: 435px;
  
  display: flex;
  
  font-weight: normal;
  line-height: 24px;
  font-style: normal;
  font-size: 14px;
  text-align: center;
}

.form-search__link {
  margin: 0 auto 0 auto;
  
  display: inline-block;
  
  padding: 30px 125px;
  
  font-weight: bold;
  line-height: 26px;
  font-style: normal;
  font-size: 21px;
  text-align: center;
  color: var(--basik-white);
  
  background-color: var(--basik-brown);
}

.form-search__link:hover {
  background-color: var(--basik-middle-brown);
}

.form-search__link:active {
  color: var(--basik-white-active);
  
  border-color: var(--basik-extra-brown);
}

.map-block {
  top: 2169px;
  bottom: 0;
  height: 595px;
}

.map__backgroung-photo {
  background-color: var(--special);
}

.main-footer {
  display: grid; 
  grid-template-columns: 400px 400px 400px; 
  grid-template-rows: 120px 0fr 0fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    ". . ."
    ". . ."
    ". . .";
}

.footer {
  position: absolute;
  margin: -120px 0 0 0;

  background-color: var(--special-background);
}

.phone {
  margin: 23px 0 0 70px;
  height: 26px;
  
  display: grid;
  
  text-align: center;
}

.visit-sedona {
  font-weight: bold;
  line-height: 26px;
  font-style: normal;
  font-size: 21px;
}

.phone-link {
  margin: 12px 0 0 0;
  
  font-weight: bold;
  line-height: 26px;
  font-style: normal;
  font-size: 21px;
  text-decoration: none;
  color: var(--basik-black);
}

.social-list {
  margin: 0;
  
  display: grid; 
  grid-template-columns: 48px 48px 48px; 
  grid-template-rows: 1fr 46px 1fr; 
  gap: 0px 6px; 
  grid-template-areas: 
    ". . ."
    ". . ."
    ". . ."; 
  justify-content: center; 
  justify-self: stretch;
  
  padding: 0;
  
  list-style: none;
}

.social-item {
  width: 48px;
  height: 46px;

  display: block;
}

.social-item:nth-child(1) {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  background-color: var(--basik-light-blue);
  
}

.social-item:nth-child(2) {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  
  background-color: var(--basik-light-blue);
}

.social-item:nth-child(3) {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  
  background-color: var(--basik-light-blue);
}

.social-link {
  width: 48px;
  height: 46px;

  display: block;
}

.social-item:hover {
  background-color: var(--basik-middle-blue);
}

.social-link:active {
  background-color: var(--basik-extra-blue);
}

.link-twitter:active::before {
  opacity: 0.3;
}

.link-facebook:active::before {
  opacity: 0.3;
}

.link-youtube:active::before {
  opacity: 0.3;
}

.link-twitter::before {
  position: absolute;
  content: "";
  width: 17px;
  height: 15px;
  margin: 17px 14px 16px 15px;

  background-image: url(../img/icons/twitter.svg);
  background-repeat: no-repeat;
}

.link-facebook::before {
  position: absolute;
  content: "";
  width: 12px;
  height: 22px;
  margin: 13px 17px 13px 17px;
  
  background-image: url(../img/icons/facebook.svg);
  background-repeat: no-repeat;
}

.link-youtube::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 16px;
  margin: 16px 13px 16px 13px;
  
  background-image: url(../img/icons/youtube.svg);
  background-repeat: no-repeat;
}

.footer-copyright {
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr 33px 1fr; 
  gap: 0px 0px; 
}

.footer-copyright__text {
  margin: 47px 0 0 65px;

  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}

.footer-copyright-link { 
  margin: 43px 0 0 160px;

  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.main-footer__logo {
  fill: var(--basik-black);
}

.main-footer__logo:hover {
  fill: var(--basik-light-blue);
}

.main-footer__logo:active {
  fill: var(--basik-gray);
}

/* Catalog */

.filters-container {
  position: relative;
  margin-top: -7px;
  height: 217px;
  
  background-image: url(../img/catalog/background.jpg);
  background-repeat: no-repeat;
}

.form {
  position: relative;
  margin-left: 0;
  width: 1200px;
  
  display: flex;
  justify-content: space-between;
}

.form .filters-form:nth-of-type(2) {
  flex-grow:2
}

.filters-form {
  margin-top: 26.5px;

  display: block;
  
  padding: 0;
  
  border: none;
}

.infrastructure-item {
  margin-top: 71.5;
}

.infrastructure-title {
  margin-left: 72px;
  margin-right: 103px;
  width: 135px;

  font-weight: bold;
  font-style: normal;
  font-size: 16px;
  line-height: 21px;

  color: var(--basik-white);
}

.infrastructure-input {
  margin-left: 17px;

  display: none;
}

.infrastructure-input + .infrastructure-label::before {
  position: absolute;
  content: "";
  top: 72px;
  left: 72px;
  width: 23px;
  height: 23px;
  z-index: 1;
  cursor: pointer;
  
  display: block;
  
  background-image: url(../img/catalog/checkbox-off.svg);
  background-repeat: no-repeat;
}

.infrastructure-input:checked + .infrastructure-label::before {
  position: absolute;
  content: "";
  top: 72px;
  left: 72px;
  width: 27px;
  height: 23px;
  z-index: 2;
  cursor: pointer;
  
  display: block;
  
  background-image: url(../img/catalog/checkbox-on.svg);
  background-repeat: no-repeat;
}

.infrastructure-label {
  margin: 71.5px 0 0 112px;
  width: 69px;

  cursor: pointer;

  color: var(--basik-white);
}

/* .infrastructure-label:checked + .infrastructure-input::before {
  background-image: url(../img/catalog/checkbox-on.svg);
  background-repeat: no-repeat;
}

/* .infrastructure-label::before {
  position: absolute;
  content: "";
  left: 72px;
  width: 27px;
  height: 23px;

  background-image: url(../img/catalog/checkbox-off.svg);
  background-repeat: no-repeat;
} */

.housing-title {
  margin-right: 410px;
  width: 91px;

  font-weight: bold;
  font-style: normal;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: var(--basik-white);
}


.prise-form__title  {
  font-weight: bold;
  font-style: normal;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: var(--basik-white);
}

.infrastructure-lable, .housing-lable {
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: var(--basik-white);
}

.sort {
  margin: 29px 63px 31px 63px;

  display: flex;
  justify-content: flex-start;
  
  text-align: center;
}

.results {
  display: block;
  
  font-weight: bold;
  font-style: normal;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color: var(--basik-black);
}

.sort-title {
  margin: 0;

  padding-left: 46px;
  
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: var(--basik-black);
}

.sort-list {
  margin: 0;
  
  display: flex;
  flex-direction: row;
  
  padding-left: 40px;  

  font-weight: normal;
  font-style: normal;
  font-size: 12px;
  line-height: 18px;
  list-style: none;
}

.sort-link {
  padding-right: 32px;
  
  text-align: center;
  vertical-align: middle;
  color: var(--basik-black);
  
  opacity: 0.3;
}

.sort__item--up {
  display: block;
}

.sort__link--up::before {
  width: 11px;
  height: 10px;
  content: "";

  background-color: #000000;
  background-image: url(/img/catalog/icon-up-dir.svg);
}
.sort__item--down {
  display: block
}


.hotels-card {
  display: flex;
}


.hotel-card__image {
  margin: 30px 29px 30px 73px;
  width: 135px;
  height: 90px;
}

.description .description-item {
  width: 890px;
  display: flex;
}

.description .description-item:nth-last-of-type(1) {
  justify-content: space-between;
}

.description .discription-raiting {
  margin-left: auto;

}

.description-title {
  margin-top: 30px;
  margin-bottom: 7px;
  width: 240px;

  font-weight: bold;
  font-style: normal;
  font-size: 21px;
  line-height: 26px;
}

.description-raiting__stars {
  margin-top: 30px;
}

.description-raiting__stars--4::before {
  position: absolute;
  content: "";
  margin-left: 561px;
  width: 91px;
  height: 17px;
  
  display: block;

  background-image: url(../img/catalog/stars4.svg);
  background-repeat: no-repeat;
}

.description-raiting__stars--3::before {
  position: absolute;
  content: "";
  margin-left: 585px;
  width: 91px;
  height: 17px;
  
  display: block;

  background-image: url(../img/catalog/stars3.svg);
  background-repeat: no-repeat;
}

.description-raiting__stars--2::before {
  position: absolute;
  content: "";
  margin-left: 609px;
  width: 91px;
  height: 17px;
  
  display: block;

  background-image: url(../img/catalog/stars2.svg);
  background-repeat: no-repeat;
}

.discriptin-type {
  margin-bottom: 15.5px;
  margin-right: 9px;
  width: 107px;

  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 21px;
  
  color: var(--basik-light-black);
}

.discription-price {
  margin-bottom: 15.5px;
  width: 96px;

  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 21px;
  
  color: var(--basik-light-black);
}

.discription-more {
  margin-right: 6px;
  width: 110px;

  display: block;

  font-weight: bold;
  font-style: normal;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: var(--basik-white);

  background-color: var(--basik-blue);
}

.discription-booking {
  margin-right: 560px;
  width: 142px;
  
  display: block;
  
  font-weight: bold;
  font-style: normal;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: var(--basik-white);
  
  background-color: var(--basik-brown);
}

.discription-raiting {
  margin: 0;
  width: 110px;

  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: var(--basik-extra-gray);
  

  background-color: var(--basik-dull-gray);
}