@font-face {
  font-family: "PT Sans";
  src: url(../fonts/pt-sans.woff2) format("woff2"),
       url(../fonts/pt-sans.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src:url(../fonts/pt-sans-bold.woff2) format("woff2"),
      url(../fonts/pt-sans-bold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --basic-blue: #81B3D2;
  --basic-middle-blue: #669EC0;
  --basic-light-blue: #81B3D2;
  --basic-extra-blue: #5496BD;
  --basic-brown: #766357;
  --basic-middle-brown: #604E43;
  --basic-extra-brown: #503E33;
  --basic-black: #000000;
  --basic-white: #ffffff;
  --basic-white-active: rgba(255, 255, 255, 0.3);
  --basic-light-grey: #eeeeee;
  --basic-gray: #bdbbbc;
  --basic-extra-gray: #666666;
  --basic-dull-gray: #f2f2f2;
  --basic-6A6A6A-03: rgba(106, 106, 106, 0.3);
  --basic-ababab: #ababab;
  --basic-6A6A6A: #6a6a6a;
  --basic-black: #000000;

  --box-shadow: rgba(0, 1, 1, 0.15);
  --special: #333333;
  --special-background: rgba(255, 255, 255, 0.9);

  --light-grey: #F2F2F2;
  --features3-grey: #EEEEEE;
  --basic-white: #FFFFFF;
  --basic-black: #000000;
  --features-blue: #81B3D2;
  --dark-gray: #333333;
  --body-gray: #888888;
  --apartment-gray: #E5E5E5;
  --grey-active: #EBEBEB;
  --brown: #766357;
  --btn-book: #766357;
  --social-hover: #669EC0;
  --social-focus: #5496BD;
  --brown-hover: #604E43;
  --brown-active: #503E33;
  --background-color:#609BEB;
}

/*Global*/

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
  background-color: #fff;
}

body {
  margin: 0;

  line-height: 1;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;

  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;

  padding: 0;

  border: 0;
  white-space: 0;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  position: relative;
  margin: 0 auto;
  max-width: 1200px;
  background-color: var(--basic-white);
}

.page-body {
  margin: 0;
  min-width: 1200px;
  min-height: 100%;

  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-black);

  background-color: var(--basic-light-grey);
}

.main-nav__list {
  margin: 0;

  display: flex;
  flex-wrap: wrap;
  padding: 0;

  font-style: normal;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
}

.main-nav__item {
  min-width: 20%;
  min-height: 56px;

  list-style: none;
}

.main-nav__item:nth-child(2n) {
  margin-right: auto;
}

.main-nav__item:nth-child(4n) {
  margin-right: 0;
}

.main-nav__link {
  display: flex;
  height: 100%;

  justify-content: center;
  align-items: center;

  text-decoration: none;
  color: var(--basic-black);
}

.main-nav__link:hover {
  color: var(--basic-light-blue);
}

.main-nav__link:active {
  color: var(--basic-gray);
}

.main-nav__logo {
  position: absolute;
  top: 0;
  left: 532px;
  width: 138px;
  height: 72px;

  display: block;

  z-index: 1;
}

.nav-logo__link {
  position: absolute;
  top: 0;
  width: 138px;
  height: 72px;

  display: block;

  z-index: 1;
}

.intro {
  height: 509px;
  max-width: 1200px;

  text-align: center;

  background-image: url(../img/main/back-desktop.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--basic-middle-blue);
}

.intro__background-illustration {
  margin-top: 77px;
}

.features {
  padding-top: 42px;
  background-color: var(--basic-white);
}

.features-slogan {
  margin: 0;
  max-width: 470px;
  height: 80px;

  padding-left: 365px;

  font-weight: bold;
  line-height: 26px;
  font-style:normal;
  font-size: 21px;
  text-align:center;
}

.features-slogan__text {
  margin: 16px 0 0 0;
  width: max-content;

  padding-left: 340px;

  font-weight: normal;
  line-height: 26px;
  font-style: normal;
  font-size: 14px;
}

.main-features__part1 {
  margin-top: 48px;

  display: grid;
  grid-template-columns: 400px 1fr;
}

.main-features__block {
  padding: 48px 44px 54px 44px;

  text-align: center;
  color: var(--basic-white);

  background-color: var(--basic-light-blue);
}

.features-list {
  margin: 0;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  padding: 0;

  list-style: none;

  background-color: var(--basic-light-grey);
}

.features-item {
  display: flex;
  flex-direction: column;

  padding: 160px 55px 82px 55px;

  list-style: none;
  text-align: center;
}


.features__item--house::before {
  position: absolute;
  content: "";
  top: 1097px;
  left: 200px;
  width: 75px;
  height: 72px;

  background-image: url(../img//icons/house.svg);

  transform: translateX(-50%);
}

.features__item--food::before {
  position: absolute;
  content: "";
  top: 1097px;
  left: 600px;
  width: 75px;
  height: 70px;

  background-image: url(../img/icons/burger.svg);

  transform: translateX(-50%);
}

.features__item--souvenirs::before {
  position: absolute;
  content: "";
  top: 1097px;
  left: 1000px;
  width: 64px;
  height: 77px;

  background-image: url(../img/icons/souvenirs.svg);

  transform: translateX(-50%);
}

.features-item__title {
  margin: 0 auto 25px auto;
  max-width: 200px;

  font-weight: bold;
  font-style: normal;
  font-size: 21px;
  line-height: 21px;
}

.main-features__part2 {
  display: grid;
  grid-template-columns: 1fr 400px;
}

.features-item__subtitle {
  display: block;
  margin-bottom: 23px;
}

.features-item__text {
  margin: 0;
}

.features-item__image {
  width: 800px;

  background-color: var(--basic-light-grey);
}

.features-list__gray {
  margin-bottom: 23px;

  display: block;
}

.features-item__gray {
  list-style: none;
  text-align: center;

  padding: 48px 65px 52px 65px;

  background-color: var(--basic-light-grey);
}

/*Booking*/

.booking {
  text-align: center;
  position: relative;
}

.booking-title {
  color: var(--basic-black);
  font-weight: bold;
  font-size: 30px;
  line-height: 24px;
  margin-top: 56px;
  margin-bottom: 32px;
  text-align: center;
}

.booking-intro {
  margin-left: auto;
  margin-right: auto;
  color:var(--dark-gray);
  font-size: 14px;
  line-height: 24px;
  width: 435px;
  margin-bottom: 45px;
}

.form-button {
  vertical-align:baseline;
  display: inline-block;
  line-height: 86px;
  width: 568px;
  height: 86px;
  background-color: var(--basic-brown);
  font-size: 21px;
  font-weight: bold;
  text-align: center;
  color: var(--basic-white);
}

.form-button:hover {
  background-color: var(--brown-hover);
}

.form-button:active {
  background-color: var(--brown-active);
  color: rgba(255,255,255,0.3);
}

.map iframe {
  width: 100%;
  height: 594px;
}

.div-form {
  overflow: hidden;
  position: relative;
  height:594px;
}

.appointment-form {
  position: absolute;
  margin-left: 316px;
  width: 457px;
  padding-top: 55px;
  padding-left: 55px;
  padding-right: 55px;
  font: inherit;
  font-size: 14px;
  font-weight: bold;
  color: var(--basic-black);
  text-align: left;
  background-color: var(--basic-white);
  box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
  transition: all ease-in-out 0.6s;
  transform:translateY(0px);
}

.form-appointment-shown {
  transform:translateY(-700px);
}

.form-body {
  border: none;
  margin: 0;
  padding: 0;
}

.appointment-item {
  font-weight: bold;
  font-size: 14px;
  line-height: 27px;
  margin-top: 0;
  display: flex;
  align-items:baseline;
  margin-bottom:30px;
}

.dat\S \ {
  text-align: left;
  font: inherit;
  color: var(--basic-black);
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.appointment-item label {
  width: 112px;
  text-align: left;
  color: var(--basic-black);
}

.appointment-item input {
  width: 346px;
  background-color: var(--light-grey);
  text-align: left;
  color: var(--basic-black);
  box-sizing: border-box;
  border: 0;
  padding-top: 5px;
  padding-bottom: 6.4px;
  padding-left:14px;
}

.appointment-item input:hover {
  background-color: var(--grey-active);
}

.appointment-item input:active {
  background-color: var(--basic-white);
}

.calendar {
  border: 0;
  background-color: transparent;
  position:relative;
  position: relative;
  top: 6px;
  right: 35px;
}

.calendar svg:hover path {
  fill:var(--basic-black);
}

.calendar svg:active path {
  fill:var(--features-blue);
}

.visiters {
  display: flex;
  justify-content: space-between;
  width: 458px;
  max-height: 38px;
  margin-bottom: 54px;
}

.appointment-item2 {
  display: inline-flex;
  align-items: baseline;
  height: 38px;
  margin:0;
}

.label-human {
  font: inherit;
  color: var(--basic-black);
  margin-right: 78px;
  position: relative;
  top: -3px;
}

.label-children {
  position: relative;
  bottom: 2.5px;
  left: 14px;
  font:inherit;
  font-size: 15px;
  color: var(--basic-black);
  margin-right: 80px;
}

.input-visiters {
  font:inherit;
  width: 38px;
  height: 38px;
  border: 0;
  padding: 0;
  color:var(--basic-black);
  text-align: center;
  background-color: var(--light-grey);
}

.minus {
  position: relative;
  align-self: stretch;
  right: 76px;
  border:0;
  margin:0;
  width: 38px;
  height: 38px;
  background-color: var(--light-grey);
}

.minus svg {
  position: relative;
  top: -3px;
}

.minus svg:hover rect {
  fill: var(--basic-black);
}

.minus svg:active rect {
  fill: var(--features-blue);
}

.plus {
  position: relative;
  align-self: stretch;
  right: 38px;
  border:0;
  margin:0;
  width: 38px;
  background-color: var(--light-grey);
}

.plus svg:hover path {
  fill: var(--basic-black);
}

.plus svg:active path {
  fill: var(--features-blue);
}

.btn-form-input {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-white);
  width: 459px;
  padding-top: 16px;
  padding-bottom: 16px;
  text-align: center;
  background-color: var(--features-blue);
  border:0;
  text-transform: uppercase;
  margin-bottom: 55px;
  position: relative;
  bottom: 2px;
}

.btn-form-input:hover {
  background-color: var(--social-hover);
}

.btn-form-input:active {
  background-color: var(--social-focus);
  color: rgba(255,255,255,0.3);
}

.hidden {
  display:none;
}

.visible {
  display: block;
}

.main-footer {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: 120px 0fr 0fr;
  gap: 0px 0px;
  grid-template-areas:
    ". . ."
    ". . ."
    ". . .";
}

.footer {
  position: absolute;
  margin: -120px 0 0 0;

  background-color: var(--special-background);
}

.phone {
  margin: 23px 0 0 70px;
  height: 26px;

  display: grid;

  text-align: center;
}

.visit-sedona {
  font-weight: bold;
  line-height: 26px;
  font-style: normal;
  font-size: 21px;
}

.phone-link {
  margin: 12px 0 0 0;

  font-weight: bold;
  line-height: 26px;
  font-style: normal;
  font-size: 21px;
  text-decoration: none;
  color: var(--basic-black);
}

.social-list {
  margin: 0;

  display: grid;
  grid-template-columns: 48px 48px 48px;
  grid-template-rows: 1fr 46px 1fr;
  gap: 0px 6px;
  grid-template-areas:
    ". . ."
    ". . ."
    ". . .";
  justify-content: center;
  justify-self: stretch;

  padding: 0;

  list-style: none;
}

.social-item {
  width: 48px;
  height: 46px;

  display: block;
}

.social-item:nth-child(1) {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  background-color: var(--basic-light-blue);

}

.social-item:nth-child(2) {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;

  background-color: var(--basic-light-blue);
}

.social-item:nth-child(3) {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;

  background-color: var(--basic-light-blue);
}

.social-link {
  width: 48px;
  height: 46px;

  display: block;
}

.social-item:hover {
  background-color: var(--basic-middle-blue);
}

.social-link:active {
  background-color: var(--basic-extra-blue);
}

.link-twitter:active::before {
  opacity: 0.3;
}

.link-facebook:active::before {
  opacity: 0.3;
}

.link-youtube:active::before {
  opacity: 0.3;
}

.link-twitter::before {
  position: absolute;
  content: "";
  width: 17px;
  height: 15px;
  margin: 17px 14px 16px 15px;

  background-image: url(../img/icons/twitter.svg);
  background-repeat: no-repeat;
}

.link-facebook::before {
  position: absolute;
  content: "";
  width: 12px;
  height: 22px;
  margin: 13px 17px 13px 17px;

  background-image: url(../img/icons/facebook.svg);
  background-repeat: no-repeat;
}

.link-youtube::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 16px;
  margin: 16px 13px 16px 13px;

  background-image: url(../img/icons/youtube.svg);
  background-repeat: no-repeat;
}

.footer-copyright {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 33px 1fr;
  gap: 0px 0px;
}

.footer-copyright__text {
  margin: 47px 0 0 65px;

  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}

.footer-copyright-link {
  margin: 43px 0 0 160px;

  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.main-footer__logo {
  fill: var(--basic-black);
}

.main-footer__logo:hover {
  fill: var(--basic-light-blue);
}

.main-footer__logo:active {
  fill: var(--basic-gray);
}

.form-filters {
  width: 1200px;
  height: 217px;
  background-color: var(--background-color);
  background-image: url("../img/catalog/background.jpg");
  display: flex;
}

.wrapper-left {
  display:flex;
  margin-top: 25px;
  margin-left: 72px;
}

.form-fieldset {
  padding:0;
  border: 0;
  margin-right: 119px;
  margin-left: 0;
}

.checkbox-title {
  font-weight: bold;
  color: var(--basic-white);
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  margin-bottom: 31.5px;
}

.checkbox-label {
  display: flex;
  position: relative;
  top: -6px;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-white);
  margin-bottom: 21px;
}

.checkbox-input {
  position: absolute;
  -webkit-appearance: none;
  appearance: none;
}

.checkbox-indicator {
  background-image: url("../img/catalog/icon-checkbox.svg");
  background-repeat: no-repeat;
  width: 27px;
  height: 25px;
  padding-right: 14px;
}

input:checked + label .checkbox-indicator {
  background-image: url("../img/catalog/checkbox-on.svg");
}

input:focus + label {
  outline: 1px solid black;
}

input:disabled + label .checkbox-indicator {
  background-image: url("../img/disabled.svg");
}

input:disabled:checked + label .checkbox-indicator {
  background-image: url("../img/disabled-on.svg");
}

/*price-filter*/

.wrapper-right {
  margin-top: 26.5px;
  margin-bottom: 20px;
  color: var(--basic-white);
  position: relative;
  left: 228px;
  width: 317px;
}

.filter-name {
  margin:0;
  font-weight: bold;
  margin-bottom: 13px;
}

.price-controls {
  position: relative;
  margin-bottom: 20px;
  margin-top: 10.5px;
  border: solid 2px white;
  border-radius: 2px;
  height: 32px;
}

.price-controls::after {
  position: absolute;
  top: 5px;
  left: 50%;
  height: 22px;
  content: "";
  border: 1px solid white;
  background: white;
}

.price-label {
  vertical-align:baseline;
  padding-left: 58px;
  display: inline-block;
  position: relative;
  top: -2px;
  height: 34px;
  width: 90px;
  cursor: pointer;
  line-height: 21px;
  font-size: 14px;
}

.price-input {
  width: 60px;
  color: var(--basic-white);
  font: inherit;
  border: none;
  background: none;
  line-height: 32px;
}

.range-controls {
  position: relative;
  margin-bottom: 33px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  height: 2px;
  width: 80%;
  background: var(--basic-white);
}

.toggle {
  position: absolute;
  top: -9px;
  width: 19px;
  height: 19px;
  padding: 0;
  border: 8px solid white;
  background-color: #ABABAB ;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.toggle.toggle-min:focus {
  width: 23px;
  height: 23px;
  border: 9px solid white;
}

.toggle.toggle-max:focus {
  width: 23px;
  height: 23px;
  border: 9px solid white;
}

.toggle-max {
  position: absolute;
  left: 80%;
}

.filter-btn {
  border: 2px solid white;
  background: transparent;
  text-transform: uppercase;
  color: var(--basic-white);
  font: inherit;
  width: 137px;
  height: 36px;
  box-sizing: border-box;
  position:relative;
  left: 85px;
  padding-left: 8.5px;
  font-size: 14px;
}

.filter-btn:hover {
  background-color: var(--basic-white);
  color: var(--basic-black);
}

.sort {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-left: 73px;
  padding-right: 73px;
  position: relative;
  top: 6px;
  padding-bottom: 12.5px;
  box-sizing: border-box;
  border-bottom: 1px solid var(--apartment-gray);
}

.sort-list.type-1 {
  list-style: none;
  display:inline-flex;
  justify-content: space-between;
  position: relative;
  right: 272px;
  bottom: 3px;
}

.link-price {
  margin-right:32px;
}

.link-price:hover {
  color: var(--features-blue);
}

.link-price:focus {
  color: var(--basic-black);
}

.link-price .active {
  color: var(--features-blue);
}

.link-sort {
  margin-right:32px;
}

.link-sort:hover {
  color: var(--features-blue);
}

.link-sort:focus {
  color: var(--basic-black);
}

.link-sort:active {
  color: var(--features-blue);
}

.sort-list.type-2 {
  list-style: none;
  display:inline-flex;
  position: relative;
  top: 2px;
}

.up-sort {
  background-repeat: no-repeat;
  padding-right: 12px;
}

.up-sort svg:hover path {
  fill: var(--basic-black);
}

.down-sort {
  background-repeat: no-repeat;
}

.down-sort svg:hover path {
  fill: var(--basic-black);
}

.sort-item {
  display: flex;
}

.sort-found {
  font-weight: bold;
  color: var(--basic-black);
  font-size: 21px;
  line-height: 26px;
  text-align: center;
}

.sort-title {
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  position: relative;
  right: 113.5px;
  bottom: 3px;
}

.link-price {
  color: var(--features-blue);
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
}

.link-sort {
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: rgba(0,0,0, 0.3);
  border-bottom: 1px dashed #81B3D2;
}

.apartaments {
  margin-top:4px;
}

.hotel-card {
  display: flex;
  padding-top:30px;
  padding-bottom:21px;
  padding-left: 73px;
  box-sizing: border-box;
  border-bottom: 1px solid var(--apartment-gray);
}

.result-photo {
  width: 165px;
  height: 90px;
}

.result-title {
  padding: 0;
  margin: 0;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
  text-transform: uppercase;
  position: relative;
  top: -5px;
}

.result-title:hover {
  color: var(--features-blue);
}

.result-title:active {
  color: rgba(0,0,0, 0.3);
}

.result-description {
  display: flex;
  flex-direction: column;
  width: 763px;
  min-height: 100px;
}

.result-item {
  display: flex;
  position: relative;
  bottom: 1px;
  right: 3px;
  height: 21px;
  margin-bottom: 22px;
}

.category {
  width: 107px;
  margin-right: 11px;
  height: 21px;
  margin-top: 5px;
  font-size: 14px;
}

.price {
  height: 21px;
  margin-top: 5px;
  margin-bottom: 20px;
  font-size: 14px;
}

.rating {
  font-size: 14px;
  line-height: 21px;
  color: #666666;
  width: 110px;
  height: 24px;
  padding-top: 3px;
  padding-bottom: 1px;
  margin-top:35px;
  background-color: var(--light-grey);
  text-align: center;
  position: relative;
  left: 16.5px;
  top: 11px;
}

.star4 {
  width: 90px;
  height: 18px;
  position: relative;
  left: 39px;
  background-image: url("../img/catalog/rating-star.svg");
  background-repeat: space;
}

.star3 {
  width: 65px;
  height: 18px;
  position: relative;
  left: 63px;
  background-image: url("../img/catalog/rating-star.svg");
  background-repeat: space;
}

.star2 {
  width: 41px;
  height: 18px;
  position: relative;
  left: 86px;
  background-image: url("../img/catalog/rating-star.svg");
  background-repeat: space;
}

.btn-more {
  width: 110px;
  height: 27px;
  padding-left: 17px;
  padding-right:17px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-white);
  background-color: var(--features-blue);
}

.btn-book {
  width: 142px;
  height: 27px;
  padding: 5px 17px 5px 17px;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-white);
  background-color: var(--btn-book);
}

.btn-more:hover {
  background-color: var(--social-hover);
}

.btn-more:active {
  background-color: var(--social-focus);
  color: rgba(255,255,255, 0.3);
}

.btn-book:hover {
  background-color: var(--brown-hover);
}

.btn-book:active {
  background-color: var(--brown-active);
  color: rgba(255,255,255, 0.3);
}

.limit {
  margin:0;
}



